* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: whitesmoke;
    background-position: cover;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

#navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff1100;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    float: right;
    height: 70px;
}

ul {
    float: right;
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 0px;
    margin-top: 27px;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18.5px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a :hover {
    color: #fff;
}

.search {
    padding-top: 15px;
    padding-left: 500px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid #000;
    margin-top: 13px;
    color: #000;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #000;
    margin-top: 13px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.srch ::placeholder {
    color: #000;
}

.search ::placeholder {
    color: #ff80c0;
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: sticky;
    align-items: center;
    top: 130px;
    left: 550px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #1aff00;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #1aff00;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.font input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #fff;
    color: #fff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.form .btnn :hover {
    background: #1aff00;
    color: #fff;
    position: fixed;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.form .link a {
    text-decoration: none;
    color: #1aff00;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.icon a {
    text-decoration: none;
    color: #fff;
}

.icon ion-icon {
    color: #fff;
    font-size: 20px;
    padding-inline: 0px;
    padding-left: 69px;
    padding-top: 3px;
}

.icon ion-icon:hover {
    color: #1aff00;
}